{% extends "base.html" %}


{% block content %}
<h1>Ugani skrito število</h1>

{% if user %}

<p>Pozdravljen {{ user.name }}!</p>
<form action="result" method="post">
    <input type="number" name="guess" min="1" max="{{max_secret}}">
    <button type="submit">Ugibaj</button>
</form>
{% else %}

<p>Aplikacija <i>Ugani skrito stevilo</i> je narejena kot vaja na tečaju WD1. Več o igri si lahko prebereš na
    podstrani <a href="about">O strani</a>.</p>
<p>Za igranje igre se je potrebno <a href="login">vpisati</a>.</p>
{% endif %}
{% endblock content %}