{% extends "base.html" %}


    {% block content %}

    <h1>To je s stran, kjer bo kmalu moj portfolio</h1>
    {% if uname %}
    <p>Pozdravljen nazaj, {{ uname }}</p>
    {% endif %}
    <h2>Komentiraj moj portfolio</h2>
    <form method="post" action="/portfolio">
        <input type="text" name="commentator-name" placeholder="Vpiši ime">
        <br>
        <br>
        <input type="email" name="commentator-email" placeholder="Vpiši svoj email">
        <br>
        <textarea name="comment-content" placeholder="Vpiši svoj komentar">
        </textarea>
        <br>
        <button type="submit">Pošlji komentar</button>
        <br>
        <button type="reset">Počisti vse podatke</button>
    </form>

    {% endblock content %}
